body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	margin: 0;
	height: 100vh;
	background: #eee;
}
body > * {
	max-width: 300px;
	margin-bottom: 30px;
	text-align: center;
}
h1, h3 {
	font-weight: 400;
}
h1 {
	margin: 150px 0 100px;
}
input {
	flex: 0 0 auto;
	margin-bottom: auto;
	max-width: 300px;
	margin-left: 100px;
	font-family: "Inter", sans-serif;
}
a {
	font-size: 20px;
	flex: 1 0 30%;
	max-width: 200px;
	
}
#privacy-content {
	display: none;
	text-align: left;
	position: absolute;
	bottom: 50px;
	background-color: #eee;
	padding: 10px 20px;
}
#privacy-content.accordion {
	display: block;
}
.accordion-caret {
	font-weight: bold;
	font-size: 1.5em;
	transform: rotate(0deg) translateY(8px);
	display: inline-block;
	margin-left: 10px;
}
.accordion-caret.up {
	transform: rotate(180deg) translateY(0px);
}
.outputLinkContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}