:root {
	--site-background: #eee;
	--text-color: #000;
}
body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	margin: 0;
	height: 100vh;
	background: var(--site-background);
}
body > * {
	text-align: center;
}
h1, h3 {
	font-weight: 400;
}
h1 {
	margin: 100px 0 70px;
}
h3 {
	margin-bottom: 30px;
}
input[type="file"] {
	display: none;
	flex: 0 0 auto;
	max-width: 300px;
	margin-left: 100px;
	font-family: "Inter", sans-serif;
}
.inputContainer {
	position: relative;
	width: 300px;
}
.inputContainer span#image-count {
	position: absolute;
	right: -10px;
	top: 7px;
}
.custom-file-input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
}
a {
	font-size: 20px;
	flex: 1 0 30%;
	max-width: 200px;
}
.gutter {
	margin-left: 15px;
	margin-right: 15px;
}

.multi-image-notice {
	font-size: smaller;
	margin-block-start: 3px;
	margin-block-end: 3px;
}
.multi-image-notice {
	display: none;
}
#privacy-trigger {
	margin-top: auto;
}
#privacy-content {
	display: none;
	text-align: left;
	position: absolute;
	bottom: 50px;
	background-color: var(--site-background);
	padding: 10px 20px;
	box-shadow: 0px -10px 10px #bbb;
}
#privacy-content.accordion {
	display: block;
}
.accordion-caret {
	font-weight: bold;
	font-size: 1.5em;
	transform: rotate(0deg) translateY(8px);
	display: inline-block;
	margin-left: 10px;
}
.accordion-caret.up {
	transform: rotate(180deg) translateY(0px);
}
.outputLinkContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 200px;
	max-height: 250px;
	overflow-y: auto;
	align-items: center;
	margin-top: 10px;
}
.outputLinkContainer a {
	text-decoration: none;
	width: fit-content;
	padding: 5px 10px;
	border: 1px solid #010101;
	color: #010101;
	border-radius: 10px;
}

@media screen and (min-width: 768px) {
	.outputLinkContainer {
		max-height: 500px;
	}
}

#start-button {
	display: none;
	margin: 30px;
}
.pushable {
    background: hsl(241.4deg 56.14% 42.46%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front {
	display: block;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 1.25rem;
	background: hsl(210.94deg 70.48% 43.5%);
	color: white;
	transform: translateY(-6px);
}

.pushable:active .front {
	transform: translateY(-2px);
}

#error-toast {
	position: absolute;
	top: 0;
	width: 100%;
	box-shadow: 0px 10px 10px darkgrey;
	background-color: rgb(245 28 51);
	padding: 10px;
	color: white;
	display: none;
}